.login-wrapper {
  background-image: url("../../assest/fondoBlack.jpg");
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  background-position: center;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    padding: 10px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    justify-content: space-between;
    background-image: url("../../assest/fondoBlack.jpg"); */
}
/* .login-wrapper{
  display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    padding: 10px;
    justify-content: space-between;
} */
img {
  max-width: 100%;
  height: auto;
  /* filter: drop-shadow(0px 0px 10px rgba(0,0,0,0.2)); */
}
.container {
  background-image: url("../../assest/fondoBlack.jpg"); 
  width: 100%;
  border-radius: 10px;
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  background-position: center;
}
.wrapper {
  background-image: url("../../assest/fondoBlack.jpg");
  background-blend-mode: overlay;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: 100% 100%;
      background-position: center;
      align-content: center;
      align-items: center;
}
/* .wrapper {
  background-image: url("../../assest/fondoBlack.jpg");
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  background-position: center;
} */
.logoUsuario{
      width: 50;
      height: 100;
}
/* .wrapper {
  background-image: url("../../assest/fondo6.png"); 
      background-blend-mode: overlay;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: 100% 100%;
      background-position: center;
      align-content: center;
      align-items: center;
      display: flex;
      flex-wrap: wrap;
} */

button{
  border:none;
  /* background-color:#D92121 ; */
  background-color:#FE5000 ;
  padding: 16px 30px;
  color: #fff;
  border-radius: 6px;
  transition: 0.2s;
}
button:hover{
  box-shadow: 0 0 0 4px #f3f3f3,
  0 0 0 8px #FE5000;
  /* #FE7F29 */
}
.input_group{
  position: relative;
}
.input_group_input{
  font: inherit;
  color: #000;
  padding: 10px;
  border: none;
  border-radius: 4px;
  outline: 2px solid #000;
  background-color: transparent;
  transition: outline-color 500ms; 
}
.input_group_input:is(:focus,:valid){
  outline-color: #FE5000;
}
.input_group_label{
  position: absolute;
  top: 0;
  left: 0;
  translate: 10px 10px;
  color: #000;
  transition: translate 500ms, scale 500ms;
}
.input_group_input:focus + .input_group_label,
.input_group_input:valid + .input_group_label{
  padding-inline: 5px;
  translate: 10px -14px;
  scale: 0.8;
  background-color: #FE5000;
}