.error {
    font-size: 120px;
    color: white; /* Tamaño de texto base */
  }
  
  /* Media query para pantallas más pequeñas */
  @media (max-width: 768px) {
    .error {
      font-size: 76px; /* Reducir el tamaño del texto para pantallas más pequeñas */
    }
  }
  
  /* Media query para pantallas más pequeñas aún */
  @media (max-width: 480px) {
    .error {
      font-size: 65px; /* Reducir aún más el tamaño del texto para pantallas más pequeñas */
    }
  }

.text{
    font-size: 40px;
    color: white;
}
@media (max-width: 768px) {
    .text {
      font-size: 38px; /* Reducir el tamaño del texto para pantallas más pequeñas */
    }
  }
  
  /* Media query para pantallas más pequeñas aún */
  @media (max-width: 480px) {
    .text {
      font-size: 36px; /* Reducir aún más el tamaño del texto para pantallas más pequeñas */
    }
  }